/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  padding-bottom: 40px;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}


/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 600px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
    text-shadow: none;
}
.carousel-inner {
    height: 100%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 100%;
    background-color: rgba(0,0,0,0.8);
}
.carousel-inner > .item > img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0.5;
    max-width: 100%;
    background-color: #000;
}


/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 768px) {
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 120px;
  }
}

/*.carousel-inner>.item {
    position: relative;
    display: none;
    -webkit-transition: 1s ease-in-out left;
    -o-transition: 1s ease-in-out left;
    transition: 1s ease-in-out left
}

@media all and (transform-3d),(-webkit-transform-3d) {
    .carousel-inner>.item {
        -webkit-transition: -webkit-transform 1s ease-in-out;
        -o-transition: -o-transform 1s ease-in-out;
        transition: transform 1s ease-in-out;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-perspective: 1000px;
        perspective: 1000px
    }
}*/

.carousel-control{
    width: 60px;
}

        #userCarousel .carousel-inner{
            padding-left: 15%;
            padding-right: 15%;            
            padding-left: 60px;
            padding-right: 60px;
        }


@media screen and (min-width: 768px){
    .carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
        margin-left: 0px;
    }   
    .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev {
        margin-right: 0px;
    }
    
}

.carousel-control .glyphicon-chevron-left, .carousel-control .icon-prev {
    left: 0;
    margin-left: 10px;
}
.carousel-control .glyphicon-chevron-right, .carousel-control .icon-next {
    right: 0;
    margin-right: 10px;
}
